.banner {
  position: relative;
  overflow: hidden;
  background-color: $focus_color;
  @media (min-width: 576px) {
    background-color: initial;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 30%;
      bottom: 0;
      background-color: $focus_color;
    }
  }
  .text {
    padding: 34px 0 44px;
    position: relative;
    width: 200px;
    z-index: 1;
    color: $main_color;
    @media (min-width: 768px) {
      padding: 70px 0;
      width: 400px;
    }
    .title {
      display: block;
      font-weight: 700;
      font-size: 64px;
      line-height: .9;
      font-family: $title_font;
      @media (min-width: 768px) {
        font-size: 128px;
      }
    }
    .descr {
      margin-top: 150px;
      display: block;
      font-weight: 400;
      line-height: 24px;
      @media (min-width: 576px) {
        margin-top: 10px;
      }
    }
  }

  .container {
    position: relative;
  }

  .tractor {
    position: absolute;
    z-index: 1;
    top: 53px;
    left: 65px;
    bottom: 24px;
    max-height: 340px;
    @media (min-width: 992px) {
      right: 0;
      left: initial;
    }
    @media (min-width: 768px) {
      left: 230px;
      top: 22px;
      bottom: -58px;
      max-height: 588px;
    }
    @media (min-width: 576px) {
      left: 230px;
      top: 20px;
      bottom: 0px;
      max-height: 400px;
    }
    img {
      display: block;
      width: auto;
      max-height: 100%;
    }
  }
}

.about {
  padding: 50px 0;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
  &_cards {
    .item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: 15px 0;
      div {
        width: 125px;
        height: 90px;
        margin-right: 20px;
        background-color: $focus_color;
        @media (min-width: 576px) {
          width: 175px;
          height: 140px;
        }
      }
      p {
        display: block;
        width: calc(100% - 125px - 20px);
        margin: 0;
        font-weight: 400;
        line-height: 1.4;
        @media (min-width: 576px) {
          width: calc(100% - 175px - 20px);
        }
      }
    }
  }

  &_text {
    margin-top: 15px;
    @media (min-width: 992px) {
      margin: 100px -15px 0;
    }
    .item {
      margin-top: 20px;
      @media (min-width: 992px) {
        margin: 0 15px;
      }
      p {
        display: block;
        margin: 0;
        font-weight: 400;
        line-height: 1.4;
        & + p {
          margin-top: 20px;
        }
      }
      .button {
        margin-top: 30px;
        @media (min-width: 992px) {
          margin-top: 60px;
        }
      }
    }
  }
}

.why {
  padding: 50px 0;
  overflow: hidden;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
  .title {
    color: $main_color;
    @media (min-width: 992px) {
      color: $therd_color;
    }
    * {
      margin: 0;
    }
  }
  .why_content {
    @media (min-width: 992px) {
      padding-top: 40px;
    }
    & > .row {
      flex-direction: column-reverse;
      @media (min-width: 992px) {
        flex-direction: initial;
      }
    }
    .item {
      & + .item {
        margin-top: 40px;
        span {
          line-height: 1.4;
        }
      }
    }

    .tractor {
      position: relative;
      img {
        display: block;
        position: relative;
        right: -50px;
        max-width: 100%;
        @media (min-width: 992px) {
          max-width: initial;
          right: initial;
          left: -52px;
        }
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: $focus_color;
        width: 100vw;
        bottom: 33%;
        top: -102px;
        left: -24px;
        @media (min-width: 992px) {
          top: 0;
          left: 0;
          bottom: initial;
          width: 50vw;
          height: 315px;
        }
        @media (min-width: 768px) {
          top: -163px;
          left: calc((24px + (100vw - 720px + 24px) / 2) * -1)
        }
        @media (min-width: 576px) {
          left: calc((24px + (100vw - 540px + 24px) / 2) * -1)
        }
      }
    }
  }
}

.technique {
  padding: 50px 0;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
  &_cards {
    a.item {
      @media (min-width: 992px) {
        transition: all $animation_speed;
        &:hover {
          background-color: $therd_color;
        }
      }
    }
    .item {
      display: block;
      position: relative;
      margin: 5px 0;
      background-color: $focus_color;
      height: 215px;
      overflow: hidden;
      @media (min-width: 768px) {
        margin: 15px 0;
      }
      .brend {
        position: absolute;
        top: 23px;
        left: 20px;
        background: $main_color;
        padding: 5px 15px;
        img {
          display: block;
        }
      }
      .title {
        position: absolute;
        bottom: 28px;
        left: 20px;
        & > * {
          &::before {
            content: attr(back-text);
            font-size: 64px;
            position: absolute;
            left: 0;
            bottom: -4px;
            opacity: 0.2;
            white-space: nowrap;
            @media (min-width: 768px) {
              font-size: 100px;
              bottom: 4px;
            }
          }
        }
      }
      .image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        img {
          position: absolute;
          bottom: 0;
          right: 0;
          max-height: 100%;
          max-width: 80%;
          // width: 250px;
          // @media (min-width: 768px) {
          //   width: initial;
          // }
        }
      }
    }
  }
}

.adresses {
  position: relative;
  padding: 50px 0;
  @media (min-width: 992px) {
    padding-top: 0 0 118px;
  }
  .container {
    position: relative;
    .title {
      @media (min-width: 992px) {
        position: absolute;
        left: 12px;
        top: 50%;
        width: 280px;
        transform: translate(0, -50%);
        & > * {
          margin: 0;
        }
      }
    }
    .map {
      margin-top: -85px;
      @media (min-width: 992px) {
        width: calc(100% - 300px);
        margin-left: auto;
      }
      img {
        display: block;
        width: 100%;
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 992px) {
          margin-right: initial;
        }
      }
    }
  }
}