// пример переменных
$main_font: HelveticaNeueCyr;
$title_font: Bebas_Neue;
$helping_font: Inter;

$main_color: #FFFFFF;
$secondary_color: #F4F4F4;
$therd_color: #0D2537;
$focus_color: #962933;

$animation_speed: 0.25s;