@font-face {
	font-family: Bebas_Neue;
	font-display: swap;
	src: url("../fonts/Bebas_Neue_bold.woff2") format("woff2"), url("../fonts/Bebas_Neue_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
